In [304]:
import pandas as pd
import numpy

In [305]:
corr_file = "world_corruption_DataW.csv"
corr_file_df = pd.read_csv(corr_file)
#corr_file_df.head()
## brings file in

In [306]:
is_corr = corr_file_df[corr_file_df['Indicator Name'].str.contains('Corruption: Estimate')]
is_corr.head()
#is_corr_df = pd.corr_file_df[(corr_file_df['Indicator Name'].str.contains('Corruption: Estimate')]
#print (is_corr_df)

,Country Name,Country Code,Indicator Name,Indicator Code,1996,1998,2000,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,Afghanistan,AFG,Control of Corruption: Estimate,CC.EST,-1.846840,-1.836265,-1.913773,-1.426400,-1.546852,-1.424300,-1.464257,-1.444516,-1.590514,-1.637169,-1.513279,-1.624466,-1.549655,-1.411566,-1.430119,-1.331163
36,Albania,ALB,Control of Corruption: Estimate,CC.EST,-1.090980,-1.008591,-0.824482,-0.856775,-0.768750,-0.671658,-0.746664,-0.805980,-0.659164,-0.545419,-0.493278,-0.488578,-0.647341,-0.723548,-0.716902,-0.552890
72,Algeria,DZA,Control of Corruption: Estimate,CC.EST,-0.479991,-0.969703,-0.948723,-0.936570,-0.668101,-0.625488,-0.422175,-0.486024,-0.515522,-0.561762,-0.546509,-0.487805,-0.495586,-0.475629,-0.467104,-0.614451
108,American Samoa,ASM,Control of Corruption: Estimate,CC.EST,NaN,NaN,NaN,NaN,NaN,0.781816,0.796983,0.325921,0.338975,0.355635,0.382101,0.371913,0.358095,0.350025,0.352090,1.251688
144,Andorra,ADO,Control of Corruption: Estimate,CC.EST,1.359539,1.380149,1.384883,1.299334,1.316520,1.101778,1.272183,1.274748,1.298274,1.319785,1.345137,1.333021,1.307218,1.294390,1.285754,1.251688

In [307]:
corr_names = is_corr[['Country Name']].copy()
corr_names.head()
#corr_ccode = is_corr[['Country Code']].copy()

       Country Name
0       Afghanistan
36          Albania
72          Algeria
108  American Samoa
144         Andorra

In [308]:
# one method #corr_names.assign(Inlist='Yes') #corr_names.head()
#this just added it
corr_names['Inlist']="Yes"
corr_names.head()

       Country Name Inlist
0       Afghanistan    Yes
36          Albania    Yes
72          Algeria    Yes
108  American Samoa    Yes
144         Andorra    Yes

In [309]:
popu_file = "world_population_WB.csv"
popu_file_df = pd.read_csv(popu_file)
popu_file_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101455.0,101669.0,102046.0,102560.0,103159.0,103774.0,104341.0,104872.0,105366.0,105845.0
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996973.0,9169410.0,9351441.0,9543205.0,9744781.0,9956320.0,...,28394813.0,29185507.0,30117413.0,31161376.0,32269589.0,33370794.0,34413603.0,35383128.0,36296400.0,37172386.0
2,Angola,AGO,"Population, total",SP.POP.TOTL,5454933.0,5531472.0,5608539.0,5679458.0,5735044.0,5770570.0,...,22514281.0,23356246.0,24220661.0,25107931.0,26015780.0,26941779.0,27884381.0,28842484.0,29816748.0,30809762.0
3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0
4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,84463.0,84449.0,83747.0,82427.0,80774.0,79213.0,78011.0,77297.0,77001.0,77006.0

In [310]:
popu_names = popu_file_df[['Country Name']].copy()
popu_names.head()

  Country Name
0        Aruba
1  Afghanistan
2       Angola
3      Albania
4      Andorra

In [311]:
popu_names['InPopu']="Yes"
popu_names.head()

  Country Name InPopu
0        Aruba    Yes
1  Afghanistan    Yes
2       Angola    Yes
3      Albania    Yes
4      Andorra    Yes

In [312]:
# pd.merge(corr_names, popu_names, on='Country Name', how='outer')
dict_df = pd.merge(corr_names, popu_names, on='Country Name', how='outer')
#dict_df.head()
cp_left_df = pd.merge(corr_names, popu_names, on='Country Name', how='left')
#cp_left_df.head()
cp_right_df = pd.merge(corr_names, popu_names, on='Country Name', how='right')
cp_right_df.head()

     Country Name Inlist InPopu
0     Afghanistan    Yes    Yes
1         Albania    Yes    Yes
2         Algeria    Yes    Yes
3  American Samoa    Yes    Yes
4         Andorra    Yes    Yes

In [313]:
Corr_noPop = cp_left_df[cp_left_df['InPopu'].isnull()]
Corr_noPop

                Country Name Inlist InPopu
6                   Anguilla    Yes    NaN
45              Cook Islands    Yes    NaN
66             French Guiana    Yes    NaN
94   Jersey, Channel Islands    Yes    NaN
99          Korea, Dem. Rep.    Yes    NaN
114           Macedonia, FYR    Yes    NaN
122               Martinique    Yes    NaN
138     Netherlands Antilles    Yes    NaN
144                     Niue    Yes    NaN
158                  Reunion    Yes    NaN
184                Swaziland    Yes    NaN
188            Taiwan, China    Yes    NaN

In [314]:
Popu_NoCor = cp_right_df[cp_right_df['Inlist'].isnull()]
Popu_NoCor.head()

                       Country Name Inlist InPopu
203                      Arab World    NaN    Yes
204  Central Europe and the Baltics    NaN    Yes
205                 Channel Islands    NaN    Yes
206          Caribbean small states    NaN    Yes
207                         Curacao    NaN    Yes

In [315]:
Popu_NoCor[Popu_NoCor["Country Name"].str.startswith("C")]

                       Country Name Inlist InPopu
204  Central Europe and the Baltics    NaN    Yes
205                 Channel Islands    NaN    Yes
206          Caribbean small states    NaN    Yes
207                         Curacao    NaN    Yes

In [316]:


di = {'Korea, Rep.': 'Korea, Dem. Rep.', 'North Macedonia' : 'Macedonia, FYR', 
        "China, People's Republic of" : 'China', 'Congo, Dem. Rep. of the' : 'Congo, Dem. Rep.', 
        'Congo, Republic of ' : 'Congo, Rep.', 'Egypt' : 'Egypt, Arab Rep.', 
        'Hong Kong SAR' : 'Hong Kong SAR, China', 'Iran' : 'Iran, Islamic Rep.', 
        'Korea, Republic of' : 'Korea, Dem. Rep.', 'Lao P.D.R.' : 'Lao PDR', 
        'Macao SAR' : 'Macao SAR, China', 'Micronesia, Fed. States of' : 'Micronesia, Fed. Sts.', 
        'Netherlands' : 'Netherlands Antilles', 'South Sudan, Republic of' : 'South Sudan', 
        'Taiwan Province of China' : 'Taiwan, China', 'Venezuela' : 'Venezuela, RB', 
        'Yemen' : 'Yemen, Rep.'}

In [317]:
popu_file_df.replace({'Country Name': di})

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,"Population, total",SP.POP.TOTL,5.421100e+04,5.543800e+04,5.622500e+04,5.669500e+04,5.703200e+04,5.736000e+04,...,1.014550e+05,1.016690e+05,1.020460e+05,1.025600e+05,1.031590e+05,1.037740e+05,1.043410e+05,1.048720e+05,1.053660e+05,1.058450e+05
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8.996973e+06,9.169410e+06,9.351441e+06,9.543205e+06,9.744781e+06,9.956320e+06,...,2.839481e+07,2.918551e+07,3.011741e+07,3.116138e+07,3.226959e+07,3.337079e+07,3.441360e+07,3.538313e+07,3.629640e+07,3.717239e+07
2,Angola,AGO,"Population, total",SP.POP.TOTL,5.454933e+06,5.531472e+06,5.608539e+06,5.679458e+06,5.735044e+06,5.770570e+06,...,2.251428e+07,2.335625e+07,2.422066e+07,2.510793e+07,2.601578e+07,2.694178e+07,2.788438e+07,2.884248e+07,2.981675e+07,3.080976e+07
3,Albania,ALB,"Population, total",SP.POP.TOTL,1.608800e+06,1.659800e+06,1.711319e+06,1.762621e+06,1.814135e+06,1.864791e+06,...,2.927519e+06,2.913021e+06,2.905195e+06,2.900401e+06,2.895092e+06,2.889104e+06,2.880703e+06,2.876101e+06,2.873457e+06,2.866376e+06
4,Andorra,AND,"Population, total",SP.POP.TOTL,1.341100e+04,1.437500e+04,1.537000e+04,1.641200e+04,1.746900e+04,1.854900e+04,...,8.446300e+04,8.444900e+04,8.374700e+04,8.242700e+04,8.077400e+04,7.921300e+04,7.801100e+04,7.729700e+04,7.700100e+04,7.700600e+04
5,Arab World,ARB,"Population, total",SP.POP.TOTL,9.219775e+07,9.472451e+07,9.733444e+07,1.000342e+08,1.028328e+08,1.057364e+08,...,3.466292e+08,3.548900e+08,3.631587e+08,3.714435e+08,3.797057e+08,3.879077e+08,3.960283e+08,4.040244e+08,4.118990e+08,4.197906e+08
6,United Arab Emirates,ARE,"Population, total",SP.POP.TOTL,9.241800e+04,1.007960e+05,1.121180e+05,1.251300e+05,1.380390e+05,1.498570e+05,...,7.917372e+06,8.549988e+06,8.946777e+06,9.141596e+06,9.197910e+06,9.214175e+06,9.262900e+06,9.360980e+06,9.487203e+06,9.630959e+06
7,Argentina,ARG,"Population, total",SP.POP.TOTL,2.048178e+07,2.081727e+07,2.115305e+07,2.148891e+07,2.182442e+07,2.215965e+07,...,4.048279e+07,4.078845e+07,4.126149e+07,4.173327e+07,4.220294e+07,4.266950e+07,4.313197e+07,4.359037e+07,4.404481e+07,4.449450e+07
8,Armenia,ARM,"Population, total",SP.POP.TOTL,1.874121e+06,1.941492e+06,2.009526e+06,2.077578e+06,2.145001e+06,2.211319e+06,...,2.888092e+06,2.877319e+06,2.876538e+06,2.884229e+06,2.897584e+06,2.912403e+06,2.925553e+06,2.936146e+06,2.944809e+06,2.951776e+06
9,American Samoa,ASM,"Population, total",SP.POP.TOTL,2.012300e+04,2.060200e+04,2.125300e+04,2.203400e+04,2.285400e+04,2.367200e+04,...,5.668300e+04,5.607900e+04,5.575900e+04,5.566700e+04,5.571300e+04,5.579100e+04,5.581200e+04,5.574100e+04,5.562000e+04,5.546500e+04
10,Antigua and Barbuda,ATG,"Population, total",SP.POP.TOTL,5.413100e+04,5.500100e+04,5.584100e+04,5.670200e+04,5.764100e+04,5.869800e+04,...,8.674600e+04,8.802800e+04,8.925300e+04,9.040900e+04,9.151600e+04,9.256200e+04,9.356600e+04,9.452700e+04,9.542600e+04,9.628600e+04
11,Australia,AUS,"Population, total",SP.POP.TOTL,1.027648e+07,1.048300e+07,1.074200e+07,1.095000e+07,1.116700e+07,1.138800e+07,...,2.169170e+07,2.203175e+07,2.234002e+07,2.273346e+07,2.312813e+07,2.347569e+07,2.381600e+07,2.419091e+07,2.460186e+07,2.499237e+07
12,Austria,AUT,"Population, total",SP.POP.TOTL,7.047539e+06,7.086299e+06,7.129864e+06,7.175811e+06,7.223801e+06,7.270889e+06,...,8.343323e+06,8.363404e+06,8.391643e+06,8.429991e+06,8.479823e+06,8.546356e+06,8.642699e+06,8.736668e+06,8.797566e+06,8.847037e+06
13,Azerbaijan,AZE,"Population, total",SP.POP.TOTL,3.895397e+06,4.030322e+06,4.171426e+06,4.315127e+06,4.456687e+06,4.592609e+06,...,8.947243e+06,9.054332e+06,9.173082e+06,9.295784e+06,9.416801e+06,9.535079e+06,9.649341e+06,9.757812e+06,9.854033e+06,9.942334e+06
14,Burundi,BDI,"Population, total",SP.POP.TOTL,2.797932e+06,2.852438e+06,2.907321e+06,2.964427e+06,3.026290e+06,3.094379e+06,...,8.397668e+06,8.675602e+06,8.958406e+06,9.245988e+06,9.540289e+06,9.844297e+06,1.016003e+07,1.048800e+07,1.082702e+07,1.117538e+07
15,Belgium,BEL,"Population, total",SP.POP.TOTL,9.153489e+06,9.183948e+06,9.220578e+06,9.289770e+06,9.378113e+06,9.463667e+06,...,1.079649e+07,1.089559e+07,1.103826e+07,1.110693e+07,1.115941e+07,1.120906e+07,1.127420e+07,1.133142e+07,1.137516e+07,1.142207e+07
16,Benin,BEN,"Population, total",SP.POP.TOTL,2.431622e+06,2.465867e+06,2.502896e+06,2.542859e+06,2.585965e+06,2.632356e+06,...,8.944708e+06,9.199259e+06,9.460830e+06,9.729248e+06,1.000459e+07,1.028684e+07,1.057595e+07,1.087207e+07,1.117520e+07,1.148505e+07
17,Burkina Faso,BFA,"Population, total",SP.POP.TOTL,4.829288e+06,4.894580e+06,4.960326e+06,5.027821e+06,5.098890e+06,5.174870e+06,...,1.514110e+07,1.560522e+07,1.608191e+07,1.657125e+07,1.707278e+07,1.758602e+07,1.811062e+07,1.864638e+07,1.919328e+07,1.975154e+07
18,Bangladesh,BGD,"Population, total",SP.POP.TOTL,4.801350e+07,4.936284e+07,5.075216e+07,5.220201e+07,5.374172e+07,5.538511e+07,...,1.459248e+08,1.475754e+08,1.492738e+08,1.510078e+08,1.527647e+08,1.545202e+08,1.562563e+08,1.579708e+08,1.596706e+08,1.613560e+08
19,Bulgaria,BGR,"Population, total",SP.POP.TOTL,7.867374e+06,7.943118e+06,8.012946e+06,8.078145e+06,8.144340e+06,8.204168e+06,...,7.444443e+06,7.395599e+06,7.348328e+06,7.305888e+06,7.265115e+06,7.223938e+06,7.177991e+06,7.127822e+06,7.075947e+06,7.024216e+06
20,Bahrain,BHR,"Population, total",SP.POP.TOTL,1.624270e+05,1.678940e+05,1.731440e+05,1.781400e+05,1.828870e+05,1.874310e+05,...,1.185076e+06,1.240860e+06,1.278151e+06,1.299943e+06,1.315029e+06,1.336075e+06,1.371851e+06,1.425791e+06,1.494074e+06,1.569439e+06
21,"Bahamas, The",BHS,"Population, total",SP.POP.TOTL,1.095340e+05,1.151210e+05,1.210910e+05,1.273390e+05,1.337090e+05,1.400590e+05,...,3.496040e+05,3.549420e+05,3.595770e+05,3.635840e+05,3.671680e+05,3.706330e+05,3.742060e+05,3.779310e+05,3.817610e+05,3.856400e+05
22,Bosnia and Herzegovina,BIH,"Population, total",SP.POP.TOTL,3.225668e+06,3.288603e+06,3.353226e+06,3.417574e+06,3.478997e+06,3.535643e+06,...,3.735938e+06,3.705472e+06,3.661175e+06,3.604972e+06,3.542605e+06,3.482104e+06,3.429361e+06,3.386267e+06,3.351527e+06,3.323929e+06
23,Belarus,BLR,"Population, total",SP.POP.TOTL,8.198000e+06,8.271216e+06,8.351928e+06,8.437232e+06,8.524224e+06,8.610000e+06,...,9.506765e+06,9.490583e+06,9.473172e+06,9.464495e+06,9.465997e+06,9.474511e+06,9.489616e+06,9.501534e+06,9.498264e+06,9.485386e+06
24,Belize,BLZ,"Population, total",SP.POP.TOTL,9.206400e+04,9.470300e+04,9.738400e+04,1.001640e+05,1.030690e+05,1.061190e+05,...,3.146550e+05,3.224640e+05,3.302370e+05,3.380000e+05,3.457150e+05,3.533660e+05,3.609330e+05,3.684000e+05,3.757690e+05,3.830710e+05
25,Bermuda,BMU,"Population, total",SP.POP.TOTL,4.440000e+04,4.550000e+04,4.660000e+04,4.770000e+04,4.890000e+04,5.010000e+04,...,6.563600e+04,6.512400e+04,6.456400e+04,6.479800e+04,6.500100e+04,6.513900e+04,6.523900e+04,6.455500e+04,6.387400e+04,6.396800e+04
26,Bolivia,BOL,"Population, total",SP.POP.TOTL,3.656955e+06,3.728964e+06,3.802990e+06,3.879192e+06,3.957757e+06,4.038872e+06,...,9.884781e+06,1.004859e+07,1.021295e+07,1.037768e+07,1.054238e+07,1.070652e+07,1.086973e+07,1.103181e+07,1.119285e+07,1.135314e+07
27,Brazil,BRA,"Population, total",SP.POP.TOTL,7.217923e+07,7.431134e+07,7.651433e+07,7.877266e+07,8.106457e+07,8.337353e+07,...,1.938865e+08,1.957136e+08,1.975145e+08,1.992873e+08,2.010359e+08,2.027637e+08,2.044718e+08,2.061631e+08,2.078338e+08,2.094693e+08
28,Barbados,BRB,"Population, total",SP.POP.TOTL,2.309800e+05,2.317180e+05,2.326330e+05,2.336300e+05,2.345860e+05,2.354130e+05,...,2.811040e+05,2.821310e+05,2.829870e+05,2.837000e+05,2.842960e+05,2.848250e+05,2.853240e+05,2.857960e+05,2.862330e+05,2.866410e+05
29,Brunei Darussalam,BRN,"Population, total",SP.POP.TOTL,8.170200e+04,8.556200e+04,8.948100e+04,9.354000e+04,9.781200e+04,1.023860e+05,...,3.839060e+05,3.886460e+05,3.936880e+05,3.989890e+05,4.044210e+05,4.097690e+05,4.149070e+05,4.198000e+05,4.244730e+05,4.289620e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,Latin America & the Caribbean (IDA & IBRD coun...,TLA,"Population, total",SP.POP.TOTL,2.098309e+08,2.157142e+08,2.217619e+08,2.279531e+08,2.342597e+08,2.406596e+08,...,5.676057e+08,5.741714e+08,5.808566e+08,5.874912e+08,5.940631e+08,6.005559e+08,6.069570e+08,6.132582e+08,6.194602e+08,6.255697e+08
235,Timor-Leste,TLS,"Population, total",SP.POP.TOTL,4.745320e+05,4.828540e+05,4.915710e+05,5.006470e+05,5.100340e+05,5.196860e+05,...,1.074277e+06,1.093523e+06,1.113151e+06,1.132994e+06,1.153295e+06,1.174331e+06,1.196302e+06,1.219288e+06,1.243261e+06,1.267972e+06
236,Middle East & North Africa (IDA & IBRD countries),TMN,"Population, total",SP.POP.TOTL,9.755316e+07,1.001471e+08,1.028081e+08,1.055463e+08,1.083763e+08,1.113078e+08,...,3.232119e+08,3.289917e+08,3.349318e+08,3.410240e+08,3.472225e+08,3.534639e+08,3.597055e+08,3.659094e+08,3.720920e+08,3.783276e+08
237,Tonga,TON,"Population, total",SP.POP.TOTL,6.157700e+04,6.371500e+04,6.623500e+04,6.898100e+04,7.174100e+04,7.434500e+04,...,1.038900e+05,1.039860e+05,1.035620e+05,1.027370e+05,1.017680e+05,1.010280e+05,1.007810e+05,1.011330e+05,1.019980e+05,1.031970e+05
238,South Asia (IDA & IBRD),TSA,"Population, total",SP.POP.TOTL,5.728395e+08,5.849397e+08,5.974944e+08,6.104983e+08,6.239433e+08,6.378232e+08,...,1.615610e+09,1.638793e+09,1.661534e+09,1.683747e+09,1.705772e+09,1.727641e+09,1.749417e+09,1.771167e+09,1.792836e+09,1.814389e+09
239,Sub-Saharan Africa (IDA & IBRD countries),TSS,"Population, total",SP.POP.TOTL,2.272332e+08,2.325670e+08,2.381217e+08,2.438934e+08,2.498737e+08,2.560598e+08,...,8.456552e+08,8.690251e+08,8.930462e+08,9.177270e+08,9.430411e+08,9.689598e+08,9.954585e+08,1.022527e+09,1.050154e+09,1.078307e+09
240,Trinidad and Tobago,TTO,"Population, total",SP.POP.TOTL,8.479790e+05,8.648180e+05,8.794410e+05,8.919440e+05,9.026130e+05,9.117370e+05,...,1.320930e+06,1.328147e+06,1.336178e+06,1.344817e+06,1.353700e+06,1.362342e+06,1.370328e+06,1.377564e+06,1.384072e+06,1.389858e+06
241,Tunisia,TUN,"Population, total",SP.POP.TOTL,4.178236e+06,4.238142e+06,4.305481e+06,4.380068e+06,4.461114e+06,4.547941e+06,...,1.052569e+07,1.063524e+07,1.074188e+07,1.084700e+07,1.095295e+07,1.106320e+07,1.117995e+07,1.130395e+07,1.143344e+07,1.156520e+07
242,Turkey,TUR,"Population, total",SP.POP.TOTL,2.747234e+07,2.814691e+07,2.883283e+07,2.953136e+07,3.024426e+07,3.097299e+07,...,7.132140e+07,7.232699e+07,7.344386e+07,7.465302e+07,7.592856e+07,7.723191e+07,7.852941e+07,7.982172e+07,8.110189e+07,8.231972e+07
243,Tuvalu,TUV,"Population, total",SP.POP.TOTL,5.323000e+03,5.335000e+03,5.340000e+03,5.343000e+03,5.356000e+03,5.386000e+03,...,1.042400e+04,1.053000e+04,1.063300e+04,1.073900e+04,1.085700e+04,1.097200e+04,1.109900e+04,1.122500e+04,1.137000e+04,1.150800e+04
244,Tanzania,TZA,"Population, total",SP.POP.TOTL,1.005215e+07,1.034670e+07,1.065196e+07,1.096820e+07,1.129568e+07,1.163483e+07,...,4.307383e+07,4.434652e+07,4.567334e+07,4.705248e+07,4.848227e+07,4.995982e+07,5.148263e+07,5.305079e+07,5.466391e+07,5.631835e+07
245,Uganda,UGA,"Population, total",SP.POP.TOTL,6.767095e+06,6.983818e+06,7.215796e+06,7.461634e+06,7.719104e+06,7.986066e+06,...,3.141110e+07,3.242817e+07,3.347692e+07,3.455917e+07,3.569525e+07,3.691215e+07,3.822545e+07,3.964751e+07,4.116246e+07,4.272314e+07
246,Ukraine,UKR,"Population, total",SP.POP.TOTL,4.266465e+07,4.320634e+07,4.375223e+07,4.428861e+07,4.479696e+07,4.526455e+07,...,4.605330e+07,4.587070e+07,4.570610e+07,4.559330e+07,4.548960e+07,4.527195e+07,4.515403e+07,4.500464e+07,4.483114e+07,4.462252e+07
247,Upper middle income,UMC,"Population, total",SP.POP.TOTL,1.184556e+09,1.189517e+09,1.206934e+09,1.235735e+09,1.264215e+09,1.293671e+09,...,2.481349e+09,2.499410e+09,2.518198e+09,2.537626e+09,2.557650e+09,2.577856e+09,2.597758e+09,2.617805e+09,2.637691e+09,2.655636e+09
248,Uruguay,URY,"Population, total",SP.POP.TOTL,2.538643e+06,2.571681e+06,2.603882e+06,2.635126e+06,2.665388e+06,2.694536e+06,...,3.349676e+06,3.359275e+06,3.368934e+06,3.378974e+06,3.389439e+06,3.400434e+06,3.412009e+06,3.424132e+06,3.436646e+06,3.449299e+06
249,United States,USA,"Population, total",SP.POP.TOTL,1.806710e+08,1.836910e+08,1.865380e+08,1.892420e+08,1.918890e+08,1.943030e+08,...,3.067715e+08,3.093261e+08,3.115800e+08,3.138742e+08,3.160577e+08,3.183864e+08,3.207427e+08,3.230713e+08,3.251471e+08,3.271674e+08
250,Uzbekistan,UZB,"Population, total",SP.POP.TOTL,8.526300e+06,8.813616e+06,9.113620e+06,9.428906e+06,9.762816e+06,1.011687e+07,...,2.776740e+07,2.856240e+07,2.933940e+07,2.977450e+07,3.024320e+07,3.075770e+07,3.129890e+07,3.184790e+07,3.238860e+07,3.295540e+07
251,St. Vincent and the Grenadines,VCT,"Population, total",SP.POP.TOTL,8.097700e+04,8.216900e+04,8.323700e+04,8.419800e+04,8.511100e+04,8.601100e+04,...,1.082870e+05,1.082550e+05,1.083160e+05,1.084350e+05,1.086220e+05,1.088610e+05,1.091480e+05,1.094590e+05,1.098270e+05,1.102100e+05
252,"Venezuela, RB",VEN,"Population, total",SP.POP.TOTL,8.141841e+06,8.439261e+06,8.742777e+06,9.052635e+06,9.369096e+06,9.692278e+06,...,2.803101e+07,2.843994e+07,2.888837e+07,2.936245e+07,2.978357e+07,3.004513e+07,3.008183e+07,2.984618e+07,2.939041e+07,2.887020e+07
253,British Virgin Islands,VGB,"Population, total",SP.POP.TOTL,8.048000e+03,8.167000e+03,8.310000e+03,8.476000e+03,8.646000e+03,8.830000e+03,...,2.703900e+04,2.779400e+04,2.831900e+04,2.865000e+04,2.884700e+04,2.898900e+04,2.915200e+04,2.935500e+04,2.957700e+04,2.980200e+04
254,Virgin Islands (U.S.),VIR,"Population, total",SP.POP.TOTL,3.250000e+04,3.430000e+04,3.500000e+04,3.980000e+04,4.080000e+04,4.350000e+04,...,1.084050e+05,1.083580e+05,1.082920e+05,1.081910e+05,1.080440e+05,1.078840e+05,1.077100e+05,1.075100e+05,1.072680e+05,1.069770e+05
255,Vietnam,VNM,"Population, total",SP.POP.TOTL,3.267004e+07,3.366611e+07,3.468341e+07,3.572122e+07,3.678000e+07,3.785895e+07,...,8.709225e+07,8.796765e+07,8.887156e+07,8.980249e+07,9.075347e+07,9.171460e+07,9.267708e+07,9.363872e+07,9.459664e+07,9.554040e+07
256,Vanuatu,VUT,"Population, total",SP.POP.TOTL,6.368900e+04,6.570500e+04,6.779400e+04,6.994600e+04,7.211500e+04,7.427000e+04,...,2.302470e+05,2.362110e+05,2.426530e+05,2.494990e+05,2.566350e+05,2.638880e+05,2.711300e+05,2.783300e+05,2.855100e+05,2.926800e+05
257,World,WLD,"Population, total",SP.POP.TOTL,3.032020e+09,3.073078e+09,3.126066e+09,3.191186e+09,3.256700e+09,3.323624e+09,...,6.840592e+09,6.922947e+09,7.004011e+09,7.086994e+09,7.170962e+09,7.255654e+09,7.340548e+09,7.426103e+09,7.510990e+09,7.594270e+09
258,Samoa,WSM,"Population, total",SP.POP.TOTL,1.086290e+05,1.121050e+05,1.157760e+05,1.195590e+05,1.233420e+05,1.270540e+05,...,1.845560e+05,1.859490e+05,1.874690e+05,1.890880e+05,1.907170e+05,1.922210e+05,1.935130e+05,1.945350e+05,1.953520e+05,1.961300e+05
259,Kosovo,XKX,"Population, total",SP.POP.TOTL,9.470000e+05,9.660000e+05,9.940000e+05,1.022000e+06,1.050000e+06,1.078000e+06,...,1.761474e+06,1.775680e+06,1.791000e+06,1.805200e+06,1.824100e+06,1.821800e+06,1.801800e+06,1.816200e+06,1.830700e+06,1.845300e+06
260,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5.315355e+06,5.393036e+06,5.473671e+06,5.556766e+06,5.641597e+06,5.727751e+06,...,2.251646e+07,2.315486e+07,2.380759e+07,2.447318e+07,2.514711e+07,2.582348e+07,2.649789e+07,2.716821e+07,2.783482e+07,2.849869e+07
261,South Africa,ZAF,"Population, total",SP.POP.TOTL,1.709984e+07,1.752453e+07,1.796572e+07,1.842316e+07,1.889631e+07,1.938484e+07,...,5.047701e+07,5.121696e+07,5.200417e+07,5.283400e+07,5.368924e+07,5.454599e+07,5.538637e+07,5.620365e+07,5.700045e+07,5.777962e+07
262,Zambia,ZMB,"Population, total",SP.POP.TOTL,3.070776e+06,3.164329e+06,3.260650e+06,3.360104e+06,3.463213e+06,3.570464e+06,...,1.321514e+07,1.360598e+07,1.402319e+07,1.446512e+07,1.492650e+07,1.539975e+07,1.587936e+07,1.636351e+07,1.685369e+07,1.735182e+07
263,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3.776681e+06,3.905034e+06,4.039201e+06,4.178726e+06,4.322861e+06,4.471177e+06,...,1.252697e+07,1.269772e+07,1.289432e+07,1.311513e+07,1.335036e+07,1.358668e+07,1.381463e+07,1.403039e+07,1.423674e+07,1.443902e+07

In [318]:
#NotInPop = dict_df[dict_df[.index.tolist()
#NotInPop
#NonInPop = dict_df[dict_df['InPopu'].isnull()]
#NotInPop.head()
#x = dict_df[(dict_df['InPopu'].isnull)

In [319]:
#import sys  
#reload(sys)  
#sys.setdefaultencoding('utf8')
#pd.read_csv('ml-100k/u.item', sep='|', names=m_cols , encoding='latin-1')
gdp_file = "world_GDP_imf.csv"
gdp_file_df = pd.read_csv(gdp_file)
gdp_file_df.head()

,"GDP, current prices (Billions of U.S. dollars)",1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,20.057,19.428,20.235,19.585,19.99,20.682,21.928,23.577,25.45,27.608
2,Albania,1.946,2.229,2.296,2.319,2.29,2.339,2.587,2.566,2.53,...,11.364,11.868,13.055,15.202,15.96,17.21,18.602,20.199,21.79,23.472
3,Algeria,42.346,44.372,44.78,47.529,51.513,61.132,61.535,63.3,51.664,...,165.979,160.13,167.555,180.441,183.687,193.056,199.917,208.589,216.389,204.536
4,Angola,6.639,6.214,6.214,6.476,6.864,8.457,7.918,9.05,9.818,...,116.194,101.124,122.124,107.316,92.191,96.426,100.359,104.698,110.351,116.848

In [320]:
#df.rename(columns={ df.columns[1]: "your value" })
#gdp_file_df.rename(columns={ gdp_file_df.columns[0]: "Country Name" })
gdp_file_df.rename(columns={'GDP, current prices (Billions of U.S. dollars)':'Country Name'}, inplace=True)
gdp_file_df.head()

,Country Name,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,20.057,19.428,20.235,19.585,19.99,20.682,21.928,23.577,25.45,27.608
2,Albania,1.946,2.229,2.296,2.319,2.29,2.339,2.587,2.566,2.53,...,11.364,11.868,13.055,15.202,15.96,17.21,18.602,20.199,21.79,23.472
3,Algeria,42.346,44.372,44.78,47.529,51.513,61.132,61.535,63.3,51.664,...,165.979,160.13,167.555,180.441,183.687,193.056,199.917,208.589,216.389,204.536
4,Angola,6.639,6.214,6.214,6.476,6.864,8.457,7.918,9.05,9.818,...,116.194,101.124,122.124,107.316,92.191,96.426,100.359,104.698,110.351,116.848

In [321]:
gdp_names = gdp_file_df[['Country Name']].copy()
#popu_names.head()
gdp_names['InGDP']="Yes"
gdp_names.head()

  Country Name InGDP
0          NaN   Yes
1  Afghanistan   Yes
2      Albania   Yes
3      Algeria   Yes
4       Angola   Yes

In [322]:
gdp_file_df.replace({'Country Name': di})

,Country Name,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,20.057,19.428,20.235,19.585,19.99,20.682,21.928,23.577,25.45,27.608
2,Albania,1.946,2.229,2.296,2.319,2.29,2.339,2.587,2.566,2.53,...,11.364,11.868,13.055,15.202,15.96,17.21,18.602,20.199,21.79,23.472
3,Algeria,42.346,44.372,44.78,47.529,51.513,61.132,61.535,63.3,51.664,...,165.979,160.13,167.555,180.441,183.687,193.056,199.917,208.589,216.389,204.536
4,Angola,6.639,6.214,6.214,6.476,6.864,8.457,7.918,9.05,9.818,...,116.194,101.124,122.124,107.316,92.191,96.426,100.359,104.698,110.351,116.848
5,Antigua and Barbuda,0.131,0.148,0.164,0.182,0.208,0.241,0.29,0.337,0.399,...,1.359,1.465,1.516,1.626,1.717,1.809,1.891,1.968,2.047,2.13
6,Argentina,226.569,184.014,91.376,112.721,126.563,95.593,114.949,117.854,138.044,...,642.464,556.774,642.928,518.092,477.743,515.353,560.869,604.538,648.848,673.118
7,Armenia,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,10.553,10.546,11.537,12.411,13.105,13.868,14.588,15.367,16.199,17.081
8,Aruba,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,2.691,2.647,2.7,2.833,2.875,2.952,3.048,3.149,3.255,3.364
9,Australia,162.618,188.056,186.698,179.141,196.765,174.057,181.136,212.699,270.579,...,1235.061,1267.845,1386.357,1418.275,1417.003,1481.461,1550.575,1630.072,1716.124,1800.983
10,Austria,80.923,70.122,70.111,71.033,67.007,68.624,97.375,121.771,133.592,...,381.998,394.215,417.672,457.637,459.589,481.678,502.028,523.123,544.344,567.014
11,Azerbaijan,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,50.844,37.83,41.256,45.418,45.248,47.429,49.129,50.795,52.806,55.098
12,"Bahamas, The",2.598,2.692,3.031,3.373,3.603,3.923,4.241,4.669,4.855,...,11.792,11.839,12.162,12.803,13.262,13.71,14.231,14.785,15.346,15.91
13,Bahrain,3.593,4.056,4.264,4.368,4.534,4.278,3.347,3.626,4.481,...,31.126,32.25,35.433,38.291,38.952,40.707,42.51,44.237,46.195,48.389
14,Bangladesh,22.632,22.057,20.197,21.165,24.064,24.756,25.954,28.633,30.904,...,208.322,235.623,262.077,287.63,314.656,343.279,374.653,408.897,446.27,487.059
15,Barbados,1.018,1.12,1.171,1.243,1.355,1.418,1.557,1.714,1.823,...,4.725,4.841,4.99,5.145,5.207,5.339,5.546,5.78,6.024,6.278
16,Belarus,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,56.329,47.703,54.723,59.643,60.951,63.664,66.991,70.147,73.471,76.203
17,Belgium,124.139,102.792,90.44,85.492,81.672,84.92,117.689,146.189,158.943,...,456.067,469.931,495.757,533.153,531.813,553.781,574.69,597.704,620.586,645.647
18,Belize,0.172,0.179,0.179,0.189,0.211,0.209,0.228,0.267,0.315,...,1.763,1.807,1.863,1.925,1.997,2.071,2.15,2.23,2.314,2.353
19,Benin,1.685,1.14,1.128,0.999,1.065,1.156,1.49,1.778,1.867,...,8.295,8.576,9.265,10.456,11.184,12.129,13.157,14.269,15.479,16.816
20,Bhutan,0.127,0.137,0.144,0.156,0.161,0.167,0.189,0.229,0.262,...,2.028,2.117,2.405,2.627,2.84,2.939,3.154,3.441,3.763,4.079
21,Bolivia,3.589,3.44,3.813,3.609,3.752,4.059,3.97,4.323,4.598,...,32.907,34.091,38.058,41.41,43.687,47.052,50.791,54.992,59.57,64.862
22,Bosnia and Herzegovina,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,16.21,16.91,18.169,19.881,20.152,21.343,22.563,23.945,25.431,27.042
23,Botswana,1.175,1.038,1.095,1.21,1.201,1.118,1.516,2.376,3.084,...,14.445,15.658,17.383,18.998,19.651,20.873,21.653,22.523,23.838,24.581
24,Brazil,145.767,167.523,179.102,143.601,142.906,226.858,263.163,286.438,319.991,...,1800.025,1795.601,2053.208,1868.184,1960.19,2062.504,2156.496,2255.582,2359.526,2468.216
25,Brunei Darussalam,no data,no data,no data,no data,no data,4.434,2.704,3.105,2.955,...,12.931,11.399,12.128,14.082,13.325,14.281,15.332,16.33,17.01,17.203
26,Bulgaria,24.974,26.937,28.094,28.87,30.668,26.258,23.239,26.938,44.022,...,50.201,53.236,58.335,64.963,67.044,71.746,76.264,81.116,86.081,91.561
27,Burkina Faso,2.121,1.846,1.719,1.571,1.404,1.553,2.036,2.37,2.616,...,10.425,10.893,12.349,14.18,14.882,16.266,17.695,19.261,20.913,22.758
28,Burundi,0.951,0.989,1.045,1.106,1.005,1.17,1.233,1.161,1.088,...,3.005,3.138,3.396,3.436,3.573,3.714,3.862,4.078,4.349,4.64
29,Cabo Verde,0.157,0.154,0.155,0.152,0.145,0.152,0.21,0.26,0.292,...,1.597,1.664,1.776,1.97,2.042,2.208,2.378,2.564,2.759,2.976
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,East Asia,1550.064,1665.617,1584.309,1725.684,1829.522,1914.974,2621.388,3169.685,3871.537,...,17845.135,18426.701,19380.99,20964.211,22046.229,23758.561,25555.267,27445.339,29468.032,31624.647
202,Eastern Europe,152.926,162.112,175.366,177.142,168.996,169.404,176.822,179.211,205.789,...,2887.041,2831.754,3302.846,3558.73,3591.745,3790.727,3993.194,4204.789,4428.945,4677.083
203,Europe,3992.561,3592.407,3477.627,3388.457,3253.797,3370.659,4541.009,5577.14,6237.786,...,19136.484,19141.146,20315.644,21846.374,21791.027,22769.2,23696.306,24711.91,25743.406,26874.959
204,Middle East (Region),389.687,426.538,415.944,420.445,416.726,419.679,426.411,514.722,551.346,...,2372.966,2377.087,2562.317,2835.035,2862.093,2996.107,3125.974,3265.138,3414.812,3582.143
205,North Africa,136.375,130.856,135.728,142.243,147.289,163.702,169.372,195.527,206.281,...,659.579,656.306,584.312,631.807,685.794,739.045,775.658,819.14,865.738,904.908
206,North America,3376.404,3823.833,3888.277,4166.874,4618.396,4942.863,5131.109,5477.316,5973.898,...,21049.37,21419.214,22398.035,23533.141,24428.734,25432.475,26448.196,27479.847,28547.622,29647.24
207,Pacific Islands,5.926,5.888,5.635,5.535,5.329,4.98,5.422,5.743,7.258,...,28.303,27.023,28.885,30.308,30.813,32.054,33.437,34.918,36.448,38.112
208,South America,575.012,579.201,492.798,461.473,451.793,498.889,562.39,596.818,664.75,...,3724.621,3588.52,3890.743,3599.002,3638.757,3830.605,4027.403,4234.447,4452.281,4661.938
209,South Asia,250.202,262.944,271.961,289.486,290.316,313.117,331.226,367.257,393.08,...,2690.559,2913.514,3338.767,3441.91,3686.347,4027.179,4410.924,4826.204,5281.93,5784.329
210,Southeast Asia,236.983,242.736,257.118,261.466,292.478,256.527,266.914,287.047,304.542,...,2457.128,2577.149,2776.894,2925.957,3110.08,3361.987,3608.66,3869.934,4152.676,4455.146
211,Sub-Saharan Africa (Region),303.92,317.919,320.452,293.896,232.5,211.289,240.928,266.136,284.01,...,1624.997,1507.746,1602.839,1683.947,1760.145,1894.709,2035.498,2196.536,2366.917,2553.964
212,Western Europe,3839.635,3430.295,3302.261,3211.315,3084.801,3201.255,4364.187,5397.929,6031.997,...,16249.444,16309.392,17012.797,18287.644,18199.281,18978.473,19703.113,20507.121,21314.461,22197.876
213,Western Hemisphere (Region),4000.382,4453.698,4434.247,4683.183,5132.017,5497.848,5747.771,6127.748,6690.821,...,25148.329,25395.34,26697.202,27556.366,28508.485,29727.833,30967.009,32234.311,33550.644,34894.966
214,ASEAN-5,222.992,227.255,240.125,241.417,269.998,229.854,242.665,260.38,273.613,...,2042.705,2147.471,2319.294,2436.16,2608.004,2829.693,3045.229,3272.26,3518.418,3782.147
215,Advanced economies,8449.988,8583.059,8524.402,8868.641,9275.123,9766.887,11918.533,13855.037,15649.65,...,45207.2,46402.971,48352.165,51069.772,52174.602,54517.388,56814.082,59248.954,61753.314,64411.17
216,Commonwealth of Independent States,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,1894.854,1748.809,2087.295,2171.969,2173.607,2277.753,2384.386,2494.996,2618.737,2760.054
217,Emerging and Developing Asia,758.631,754.769,769.011,812.382,847.945,831.971,850.845,930.083,1044.977,...,15838.041,16156.44,17577.644,19145.98,20407.686,22219.457,24149.394,26184.982,28386.798,30741.663
218,Emerging and Developing Europe,249.452,259.906,264.22,262.048,251.579,262.164,279.126,298.096,330.942,...,1825.475,1845.783,1941.568,1985.436,1955.753,2153.588,2371.396,2532.514,2699.457,2880.221
219,Emerging market and developing economies,2697.778,2824.835,2677.376,2628.254,2626.546,2675.213,2742.738,3024.48,3338.184,...,29482.248,29331.668,31792.414,33670.55,35090.624,37792.882,40640.948,43594.522,46774.082,50166.089
220,Euro area,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,11689.545,11982.011,12652.421,13669.167,13595.824,14203.279,14757.033,15357.173,15949.262,16600.808
221,European Union,3803.788,3414.132,3297.853,3210.438,3080.285,3192.114,4301.264,5281.393,5917.841,...,16451.716,16561.247,17364.681,18750.052,18705.132,19555.416,20355.545,21233.909,22121.555,23092.977
222,Latin America and the Caribbean,852.584,923.476,759.047,690.024,718.481,772.373,767.175,815.49,918.848,...,5269.526,5053.956,5457.396,5246.584,5321.202,5593.109,5877.181,6178.935,6498.171,6817.704
223,Major advanced economies (G7),6878.865,7093.288,7063.242,7452.521,7842.582,8315.05,10054.495,11553.002,12990.634,...,34717.684,35665.929,36870.696,38853.851,39840.524,41576.728,43279.114,45054.037,46878.712,48808.05
224,Middle East and North Africa,511.348,538.697,529.383,539.02,543.461,562.397,570.52,683.202,718.851,...,2810.596,2782.992,2853.11,3145.763,3213.65,3378.94,3524.119,3683.804,3856.182,4037.928
225,"Middle East, North Africa, Afghanistan, and Pa...",542.286,575.296,569.395,576.389,584.033,602.962,612.063,726.639,768.958,...,3101.209,3081.075,3178.297,3477.918,3511.658,3693.674,3862.777,4047.477,4246.188,4456.279
226,Other advanced economies,767.732,783.558,778.421,776.827,814.519,811.964,989.302,1217.588,1435.749,...,6456.46,6588.122,7064.631,7393.635,7486.821,7857.42,8233.221,8661.082,9112.499,9589.688
227,Sub-Saharan Africa,294.824,311.389,315.703,287.411,224.508,205.742,233.528,254.172,274.459,...,1553.143,1445.605,1550.214,1642.663,1720.717,1855.301,1995.815,2155.619,2324.731,2510.167
228,World,11147.766,11407.894,11201.778,11496.895,11901.669,12442.1,14661.271,16879.517,18987.834,...,74689.448,75734.639,80144.579,84740.322,87265.226,92310.269,97455.03,102843.476,108527.396,114577.26
229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230,"Â©IMF, 2019",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [323]:
#dict_df = pd.merge(dict_df, gdp_names, on='Country Name', how='outer')
#pd.merge(dict_df, gdp_names, on='Country Name', how='outer')
#dict_df.head(20)

In [330]:
Combined_df = pd.merge(is_corr[['Country Name','Indicator Name','2014']], popu_file_df[['Country Name','Indicator Name','2014']], on='Country Name', how='left')
#cp_left_df.head()

In [331]:
Combined_df = pd.merge(Combined_df, gdp_file_df[['Country Name','2014']], on='Country Name', how='left')
#cp_left_df.head()

In [332]:
Combined_df.head()

,Country Name,Indicator Name_x,2014_x,Indicator Name_y,2014_y,2014
0,Afghanistan,Control of Corruption: Estimate,-1.331163,"Population, total",33370794.0,20.616
1,Albania,Control of Corruption: Estimate,-0.552890,"Population, total",2889104.0,13.219
2,Algeria,Control of Corruption: Estimate,-0.614451,"Population, total",38923687.0,213.81
3,American Samoa,Control of Corruption: Estimate,1.251688,"Population, total",55791.0,NaN
4,Andorra,Control of Corruption: Estimate,1.251688,"Population, total",79213.0,NaN